{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'beca_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Edit Beca {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.nro_tramite) }}
									    {{ form_widget(form.nro_tramite, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.tipo_beca_id) }}
									    {{ form_widget(form.tipo_beca_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.alumno_id) }}
									    {{ form_widget(form.alumno_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.estado_id) }}
									    {{ form_widget(form.estado_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.md5) }}
									    {{ form_widget(form.md5, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.domicilio_constituido) }}
									    {{ form_widget(form.domicilio_constituido, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cargo_id) }}
									    {{ form_widget(form.cargo_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.fuero_id) }}
									    {{ form_widget(form.fuero_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.dependencia_id) }}
									    {{ form_widget(form.dependencia_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.universidad_id) }}
									    {{ form_widget(form.universidad_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.universidad_otro) }}
									    {{ form_widget(form.universidad_otro, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.facultad_id) }}
									    {{ form_widget(form.facultad_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.facultad_otro) }}
									    {{ form_widget(form.facultad_otro, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.titulo_id) }}
									    {{ form_widget(form.titulo_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.titulo_otro) }}
									    {{ form_widget(form.titulo_otro, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.f_ingreso_caba) }}
									    {{ form_widget(form.f_ingreso_caba, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.telefono_laboral) }}
									    {{ form_widget(form.telefono_laboral, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.institucion_propuesta) }}
									    {{ form_widget(form.institucion_propuesta, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.tipo_actividad_id) }}
									    {{ form_widget(form.tipo_actividad_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.actividad_nombre) }}
									    {{ form_widget(form.actividad_nombre, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.fecha_inicio) }}
									    {{ form_widget(form.fecha_inicio, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.fecha_fin) }}
									    {{ form_widget(form.fecha_fin, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.duracion) }}
									    {{ form_widget(form.duracion, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.costo) }}
									    {{ form_widget(form.costo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.monto) }}
									    {{ form_widget(form.monto, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.dictamen_por) }}
									    {{ form_widget(form.dictamen_por, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.sup_horaria) }}
									    {{ form_widget(form.sup_horaria, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.renovacion_id) }}
									    {{ form_widget(form.renovacion_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.observaciones) }}
									    {{ form_widget(form.observaciones, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.objetivo) }}
									    {{ form_widget(form.objetivo, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.vinculacion) }}
									    {{ form_widget(form.vinculacion, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.timestamp) }}
									    {{ form_widget(form.timestamp, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
