{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'novedad_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Edit Novedad {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.nov_gno_id) }}
									    {{ form_widget(form.nov_gno_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_fecha) }}
									    {{ form_widget(form.nov_fecha, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_titulo) }}
									    {{ form_widget(form.nov_titulo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_copete) }}
									    {{ form_widget(form.nov_copete, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_texto) }}
									    {{ form_widget(form.nov_texto, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_foto1) }}
									    {{ form_widget(form.nov_foto1, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto1) }}
									    {{ form_widget(form.nov_adjunto1, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_mostrarWeb) }}
									    {{ form_widget(form.nov_mostrarWeb, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_esDestacada) }}
									    {{ form_widget(form.nov_esDestacada, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_esDestacadaHome) }}
									    {{ form_widget(form.nov_esDestacadaHome, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto1_desc) }}
									    {{ form_widget(form.nov_adjunto1_desc, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto2_desc) }}
									    {{ form_widget(form.nov_adjunto2_desc, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto2) }}
									    {{ form_widget(form.nov_adjunto2, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto3_desc) }}
									    {{ form_widget(form.nov_adjunto3_desc, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_adjunto3) }}
									    {{ form_widget(form.nov_adjunto3, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_html) }}
									    {{ form_widget(form.nov_html, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_link) }}
									    {{ form_widget(form.nov_link, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.nov_afiche) }}
									    {{ form_widget(form.nov_afiche, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
