{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'curso_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Edit Curso {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.cur_gcu3_id) }}
									    {{ form_widget(form.cur_gcu3_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_fechaInicio) }}
									    {{ form_widget(form.cur_fechaInicio, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_fechaFin) }}
									    {{ form_widget(form.cur_fechaFin, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_titulo) }}
									    {{ form_widget(form.cur_titulo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_mostrarWeb) }}
									    {{ form_widget(form.cur_mostrarWeb, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_tcu_id) }}
									    {{ form_widget(form.cur_tcu_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_resolucion) }}
									    {{ form_widget(form.cur_resolucion, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_anexo) }}
									    {{ form_widget(form.cur_anexo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_mostrarPreinscripcion) }}
									    {{ form_widget(form.cur_mostrarPreinscripcion, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_imagen) }}
									    {{ form_widget(form.cur_imagen, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_descripcion) }}
									    {{ form_widget(form.cur_descripcion, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_dirigido) }}
									    {{ form_widget(form.cur_dirigido, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_vacantes) }}
									    {{ form_widget(form.cur_vacantes, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_regimen_aprobacion) }}
									    {{ form_widget(form.cur_regimen_aprobacion, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_doc_id_director) }}
									    {{ form_widget(form.cur_doc_id_director, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_doc_id_coordinador) }}
									    {{ form_widget(form.cur_doc_id_coordinador, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_observaciones) }}
									    {{ form_widget(form.cur_observaciones, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_fecha) }}
									    {{ form_widget(form.cur_fecha, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_duracion) }}
									    {{ form_widget(form.cur_duracion, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_doc_id_moderador) }}
									    {{ form_widget(form.cur_doc_id_moderador, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_esDestacado) }}
									    {{ form_widget(form.cur_esDestacado, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_destinatario) }}
									    {{ form_widget(form.cur_destinatario, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_horarios) }}
									    {{ form_widget(form.cur_horarios, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_ecu_id) }}
									    {{ form_widget(form.cur_ecu_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_forzarCalendario) }}
									    {{ form_widget(form.cur_forzarCalendario, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_certificado) }}
									    {{ form_widget(form.cur_certificado, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.cur_mostrarVacantesCubiertas) }}
									    {{ form_widget(form.cur_mostrarVacantesCubiertas, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
